Makefile
Makefile.in
.deps
.libs
stamp-it
aclocal.m4
autom4te.cache
config.guess
config.h
config.log
config.status
config.status.lineno
config.sub
configure
depcomp
install-sh
intltool-extract
intltool-update
intltool-merge
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h1
diary.db
almanah.db
*.valgrind
diary-*.tar.gz
almanah-*.tar.gz
*.splint
config.h.in
*.patch
*.diff
*-builtins.c
*-builtins.h
po/POTFILES
*~
