AlmanahTagEntry {
   color: #aaa;
   font-size: 8px;
   transition: none;
}

AlmanahTagEntry:focused {
   color: @theme_fg_color;
}

.almanah-mw-main-content GtkScrolledWindow {
    border-style: solid;
    border-radius: 0px;
    border-width: 0px;
    border-bottom-width: 1px;
    border-top-width: 0px;
    background-color: #fff;
}
