AlmanahTagEntry {
   color: #aaa;
   font-size: 8px;
   transition: none;
}

AlmanahTagEntry:focused {
   color: @theme_fg_color;
}

.almanah-mw-scrolled {
    border-bottom-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.almanah-mw-text-event-box {
    background-color: #fff;
}
