AlmanahCalendarButton:active {
    background-image: none;
    background-color: @menu_bg_color;

    border-image: none;
    border-color: @menu_bg_color;
    border-radius: 4px 4px 0 0;
}

AlmanahCalendarButton GtkLabel:active {
    color: @theme_text_color;
    text-shadow: none;
}

AlmanahCalendarButton GtkArrow:active {
    color: @theme_text_color;
}

AlmanahCalendarWindow {
    background-color: @menu_bg_color;
}

AlmanahMainWindow GtkToolbar {
    border-style: solid;
    border-radius: 0px;
    border-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
}

AlmanahEntryTagsArea {
    background-color: #fff;
}

AlmanahEntryTagsArea:backdrop {
    background-color: @theme_unfocused_base_color;
}

.almanah-mw-main-content GtkScrolledWindow {
    border-style: solid;
    border-radius: 0px;
    border-width: 0px;
    border-bottom-width: 1px;
    background-color: #fff;
}

.almanah-mw-main-content GtkScrolledWindow:backdrop {
    background-color: @theme_unfocused_base_color;
}

AlmanahTagEntry {
   color: #aaa;
   font-size: 8;
   border-width: 0px;
   border-style: none;
   border-radius: 0px;
   margin: 0px;
   padding: 10px;
   box-shadow: none;
   background-color: #fff;
   background-image: none;
   transition: none;
}

AlmanahTagEntry:focused {
   color: @theme_text_color;
}

AlmanahTagEntry:backdrop {
    background-color: @theme_unfocused_base_color;
}
