AlmanahMainWindow GtkToolbar {
    border-width: 0px;
}

AlmanahCalendarButton:active {
    background-image: none;
    background-color: @menu_bg_color;

    border-image: none;
    border-color: @menu_bg_color;
    border-radius: 4px 4px 0 0;
}

AlmanahCalendarButton GtkLabel:active {
    color: @theme_text_color;
    text-shadow: none;
}

AlmanahCalendarButton GtkArrow:active {
    color: @theme_text_color;
}

AlmanahCalendarWindow {
    background-color: @menu_bg_color;
}

AlmanahTagEntry {
   color: #aaa;
   font-size: 8px;
   transition: none;
}

AlmanahTagEntry:focused {
   color: @theme_text_color;
}

AlmanahTagEntry:backdrop {
    background-color: @theme_unfocused_base_color;
}

.almanah-mw-main-content GtkScrolledWindow {
    border-style: solid;
    border-radius: 0px;
    border-width: 0px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    background-color: #fff;
}

.almanah-mw-main-content GtkScrolledWindow:backdrop {
    background-color: @theme_unfocused_base_color;
}
